@{
    Yar.Service.BusinessContext context = Model.Context;
    var tokenId = (context == null || context.Credential == null) ? "" : context.Credential.TokenId;
    var bizId = Model.BizId;
    var isMulti = "1".Equals(context.Request["isMulti"]);
}
<div style="padding: 5px 20px 5px;">
    <div class="row">
        <div class="col-md-4">
            <div class="portlet box blue" style="margin-bottom:2px;">
                <div class="portlet-title">
                    <div class="caption">
                        组织机构
                    </div>
                </div>
                <div class="portlet-body" style="height:285px;overflow:auto;">
                    <ul id="hr_common_selectOrgPosition_orgTree"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form form-horizontal">
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">名称</label>
                        <div class="col-md-3">
                            <input type="text" data-bind="textboxValue:displaydata.name" class="easyui-textbox" style="width:100%" />
                        </div>
                        <label class="control-label bold col-md-2">编码</label>
                        <div class="col-md-3">
                            <input type="text" data-bind="textboxValue:displaydata.code" class="easyui-textbox" style="width:100%" />
                        </div>
                        <div class="col-md-2">
                            <div class="" style="float: right;display: inline-block;">
                                <a href="javascript:;" class="gt2_btn_search" data-bind="click:OnRefresh"><i class="fa fa-refresh"></i> 搜索 </a>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 1px;height:265px;">
                        <table data-bind="grid:uiSources.gridList" id="hr_common_selectOrgPosition_gridlist" style=""></table>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<script type="text/javascript">

        (function (eleId, context, callback) {
            //debugger;
            $.parser.parse(eleId);

            var ViewModel = function (data) {
                var self = this;
                self.ViewTool = new YarClient.ViewModel("_BizOrganizationService", "@tokenId");
                var displaydata = { name: '',code:'' };
                self.displaydata = ko.mapping.fromJS(displaydata);
                self.uiSources = {
                    gridList: {
                        ops: {
                            ClientPage: false,
                            ele: "#hr_common_selectOrgPosition_gridlist",
                        },
                        sops: {
                            url: self.ViewTool.GetActionUrl("Post", "Biz_Select_OrgPosition.GetPosition"),
                            fit: true,
                            fitColumns: true,
                            pageSize: 5,
                            @if(isMulti){<text>singleSelect: false,</text>}
                            columns: [[
                              { field: 'ck', checkbox: true },
                              { field: 'Name', title: '名称', width: 100 },
                              { field: 'Code', title: '编码', width: 100 },
                            ]]
                        }
                    }
                };
                self.Init = function () {
                    $('#hr_common_selectOrgPosition_orgTree').tree({
                        url: self.ViewTool.GetActionUrl("Post", "Biz_Select_OrgUnit.GetOrgTree"),
                        onLoadSuccess: function (node, data) {
                            var root = $('#hr_common_selectOrgPosition_orgTree').tree("getRoot");
                            if (root) {
                                $('#hr_common_selectOrgPosition_orgTree').tree("select", root.target);
                                var data = {

                                    name: self.displaydata.name(),
                                    code: self.displaydata.code(),
                                    parentId: root.id
                                };
                                //debugger;
                                //$('#hr_common_selectOrgPosition_gridlist').datagrid('load', data);
                            }

                        },
                        onSelect: function (node) {
                            debugger;
                            var data = {
                                name: self.displaydata.name(),
                                code: self.displaydata.code(),
                                parentId: node.id
                            };
                            $('#hr_common_selectOrgPosition_gridlist').datagrid('load', data);
                        }
                    });
                };

                self.OnRefresh = function () {

                    $('#hr_common_selectOrgPosition_orgTree').tree({
                        url: self.ViewTool.GetActionUrl("Post", "Biz_Select_OrgUnit.GetOrgTree"),
                        onLoadSuccess: function (node, data) {

                            var node = $('#hr_common_selectOrgPosition_orgTree').tree('getSelected');
                            if (node) {
                                var data = {
                                    name: self.displaydata.name(),
                                    code: self.displaydata.code(),
                                    parentId: node.id
                                };
                                $('#hr_common_selectOrgPosition_gridlist').datagrid('load', data);
                            }
                            else {
                                debugger;
                                var root = $('#hr_common_selectOrgPosition_orgTree').tree("getRoot");
                                if (root) {
                                    $('#hr_common_selectOrgPosition_orgTree').tree("select", root.target);
                                }
                            }
                        },
                    });
                };

                self.OnOk = function (finishcall) {
                    debugger;
                    var rows = $("#hr_common_selectOrgPosition_gridlist").datagrid('getChecked');
                    if (rows.length > 0) {
                        var results = [];
                        for (var i = 0; i < rows.length; i++) {
                            results.push({
                                Id: rows[i].Id, Name: rows[i].Name, Code: rows[i].Code,
                                LegalEntityID: rows[i].LegalEntityID, OrgPositionName: rows[i].OrgPositionName
                            });
                        }
                        finishcall(results, callback);
                    }

                };
            };

            var viewModel = new ViewModel({});
            ko.applyBindings(viewModel, $(eleId)[0]);
            viewModel.Init();
            MainApp.DialogModel(eleId, '选择职位', 800, 350, viewModel.OnOk);
            //viewModel.OnRefresh();

        })(eleId, context, callback);
</script>
