@{
    Yar.Service.BusinessContext context = Model.Context;
    var tokenId = (context == null || context.Credential == null) ? "" : context.Credential.TokenId;
    var bizId = Model.BizId;
    var isMulti = "1".Equals(context.Request["isMulti"]);
}
<div style="padding: 5px 20px 5px;">
    <div class="row">
        <div class="col-md-12">
            <div class="form form-horizontal">
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">名称：</label>
                        <div class="col-md-3">
                            <input type="text" data-bind="textboxValue:displaydata.name" class="easyui-textbox" style="width:100%" />
                        </div>
                        <label class="control-label bold col-md-2">编码：</label>
                        <div class="col-md-3">
                            <input type="text" data-bind="textboxValue:displaydata.code" class="easyui-textbox" style="width:100%" />
                        </div>
                        <div class="col-md-2">
                            <div class="" style="float: right;display: inline-block;">
                                <a href="javascript:;" class="gt2_btn_search" data-bind="click:OnRefresh"><i class="fa fa-search"></i> 搜索 </a>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 1px;height:260px;">
                        <table data-bind="grid:uiSources.gridList" id="hr_org_selectlegal_gridlist" style=""></table>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<script type="text/javascript">

        (function (eleId, context, callback) {
            //debugger;
            

            var ViewModel = function (data) {

                var self = this;
                self.ViewTool = new YarClient.ViewModel("_BizOrganizationService", "@tokenId");
                var displaydata = { name: '',code:'' };
                self.displaydata = ko.mapping.fromJS(displaydata);
                self.uiSources = {
                    gridList: {
                        ops: {
                            ClientPage: true,
                            ele: "#hr_org_selectlegal_gridlist",
                        },
                        sops: {
                            url: self.ViewTool.GetActionUrl("Post", "Biz_Select_LegalEntity.GetLegals"),
                            fit: true,
                            fitColumns: true,
                            @if(isMulti){<text>selectOnCheck: false, checkOnSelect: false,</text>}
                            pagination:false,
                            columns: [[
                                { field: 'ck', checkbox: true },
                              { field: 'Code', title: '编码', width: 100 },
                              { field: 'Name', title: '名称', width: 100 },
                            ]]
                        }
                    }
                };
                self.Init = function () {

                };
                self.OnRefresh = function () {
                    var data = {
                        name: self.displaydata.name(),
                        code: self.displaydata.code(),
                    };
                    $('#hr_org_selectlegal_gridlist').datagrid('load', data);
                };
                self.OnOk = function (finishcall) {
                    var rows = $("#hr_org_selectlegal_gridlist").datagrid('getChecked');
                    if (rows.length > 0) {
                        var results = [];
                        for (var i = 0; i < rows.length; i++) {
                            results.push({ Id: rows[i].ResId, Name: rows[i].Name, Code: rows[i].Code });
                        }
                        finishcall(results, callback);
                    } else {
                        $.messager.alert('提示信息', '您尚未选择任何信息', 'warning');
                    }
                };
            };

            var viewModel = new ViewModel({});
            MainApp.DialogModel(eleId, '选择法人', 700, 340, viewModel.OnOk, null, function () {
                $.parser.parse(eleId);
                ko.applyBindings(viewModel, $(eleId)[0]);
                viewModel.Init();
                viewModel.OnRefresh();
            });
            

        })(eleId, context, callback);
</script>
