@{
    Yar.Service.BusinessContext context = Model.Context;
    var tokenId = (context == null || context.Credential == null) ? "" : context.Credential.TokenId;
    var resid = Model.RawData.form.ResId;
    var bizId = Model.BizId;
}
<style>
    .modalContainer {
        margin: 10px 10px 0 10px;
    }
</style>

<div id="formDictItem" style="padding:10px;background-color: #fff;height:501px">
    <div class="modalContainer">
        <div class="form form-horizontal">
            <div class="form-body">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3 bold"><span class="importantitem">*</span>字典项编码</label>
                        <div class="col-md-9">
                            <input type="text" data-bind="textboxValue:formdata.DictItemCode" data-options="required:true,validType:'length[0,36]'" class="easyui-textbox" style="height: 34px; background-color: #FFFFE6; width: 100%;" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3 bold"><span class="importantitem">*</span>字典项名称</label>
                        <div class="col-md-9">
                            <input type="text" data-bind="textboxValue:formdata.DictItemName" data-options="required:true,validType:'length[0,256]'" class="easyui-textbox" style="height: 34px; background-color: #FFFFE6; width: 100%;" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3 bold"><span class="importantitem">*</span>字典值</label>
                        <div class="col-md-9">
                            <input type="text" data-bind="textboxValue:formdata.DictItemValue" data-options="required:true,validType:'length[0,256]'" class="easyui-textbox" style="height: 34px; background-color: #FFFFE6; width: 100%;" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3 bold">父级项</label>
                        <div class="col-md-9">
                            <input type="text" data-bind="textboxValue:formdata.ParentCode" class="easyui-textbox" style="height: 34px; background-color: #FFFFE6; width: 100%;" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3 bold">排序</label>
                        <div class="col-md-9">
                            <input type="number" data-bind="textboxValue:formdata.Sequence" data-options="validType:'integer[-2147483648, 2147483647]'" precision="0" class="easyui-numberbox" style="height: 34px; background-color: #FFFFE6; width: 100%;" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3 bold">状态</label>
                        <div class="col-md-9">
                            <input type="text" class="easyui-combobox" data-bind="comboboxValue:formdata.State,dataSource:dataSources.dsStates" data-options="valueField:'ID',textField:'Name',required:true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3 bold">备注</label>
                        <div class="col-md-9">
                            <textarea class="form-control easyui-validatebox" rows="5" data-bind="value:formdata.Remark" data-options="validType:'length[0,500]'"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    (function (eleId, context, callback) {
        $.parser.parse(eleId);

        var ViewModel = function (data) {
            var self = this;
            self.Action = 'new';

            if(data.form.ResId && data.form.ResId != '' && data.form.ResId != '00000000-0000-0000-0000-000000000000' ){
                self.Action = 'edit';
            }
            self.dataSources = data.dataSources;
            self.formdata = ko.mapping.fromJS(data.form);
            self.ViewTool = new YarClient.ViewModel("@bizId", "@tokenId");

            self.Init = function () {

            };

            self.OnSave = function () {
                if (MainApp.FormValidate("#formDictItem")) {
                    var postdata = {
                        DictItemCode: self.formdata.DictItemCode(),
                        DictItemName: self.formdata.DictItemName(),
                        DictItemValue: self.formdata.DictItemValue(),
                        ParentCode: self.formdata.ParentCode(),
                        Sequence: self.formdata.Sequence(),
                        Remark: self.formdata.Remark(),
                        State: self.formdata.State()
                    };

                    var url = '';
                    
                    url = self.ViewTool.GetActionUrl("Post", "SaveDicItem", { DictId: self.formdata.DictId(), resId: self.formdata.ResId() });

                    YarClient.AjaxPost(url, postdata, {
                        IsWarning: true,
                        success: function (returnData) {
                            if(self.Action == 'new')
                                swal("操作成功!", "新的字典项已经添加", "success");
                            else
                                swal("操作成功!", "字典项已经修改成功", "success");
                            $(eleId).window('destroy');
                            callback();
                        }
                    });
                }
            };

            self.OnClose = function(){
                $(eleId).window('destroy');
            };
        };

        var data = @this.Raw(Model.Data);
        var viewModel = new ViewModel(data);

        Pagecom.ViewModel3 = viewModel;

        MainApp.DialogCustomButton(eleId, viewModel.Action == "new" ? '添加字典项' : '编辑字典项', 600, 540,
        [
            { 
                text: "保存", click: function() {
                    viewModel.OnSave();
                }
            },
            { 
                text: "关闭", cancel: true, click:function() {
                    viewModel.OnClose();
                }
            }
            ], function () {
                ko.applyBindings(viewModel, $(eleId)[0]);
                viewModel.Init();
            });
    })(eleId, context, callback);
</script>
