@{
    Yar.Service.BusinessContext context = Model.Context;
    var tokenId = (context == null || context.Credential == null) ? "" : context.Credential.TokenId;
    var resid = Model.RawData.form.ResId;
    var bizId = Model.BizId;
}
<div style="padding:5px;    background-color: #fff;">
    <div class="form form-horizontal">
        <div class="form-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4"><span style="color: red;">*</span>组织单元编码</label>
                        <div class="col-md-8">
                            @*<span type="text" data-bind="text:formdata.OrganizationCode" class="form-control-static" style="width: 100%; height: 34px;"></span>*@
                            <input type="text" id="orgCode" data-bind="textboxValue:formdata.OrganizationCode" data-options="validType:'length[0,36]'" class="easyui-textbox" style="width: 100%;" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4">上级机构</label>
                        <div class="col-md-8">
                            <input type="text" data-bind="comboboxValue:formdata.ParentID,dataSource:dataSources.dsParent" style="width: 100%;" class="easyui-combobox" data-options="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4"><span style="color: red;">*</span>组织单元名称</label>
                        <div class="col-md-8">
                            <input type="text" data-bind="textboxValue:formdata.OrganizationName" data-options="required:true,validType:'length[0,36]'" class="easyui-textbox" style="height: 34px; background-color: #FFFFE6; width: 100%;" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4">组织类型</label>
                        <div class="col-md-8">

                            <input type="text" data-bind="comboboxValue:formdata.OrganizationType,dataSource:dataSources.dsType" style="width: 100%;" class="easyui-combobox" data-options="" />
                            @*<label class="radio-inline">
                                <input  type="radio" value="false" data-bind="checked:formdata.IsBranch"> 分公司
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="true" data-bind="checked:formdata.IsBranch"> 部门
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="true" data-bind="checked:formdata.IsBranch"> 部门
                            </label>*@
                        </div>
                    </div>
                </div>
                
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4">排序序列</label>
                        <div class="col-md-8">
                            <input type="text" data-bind="textboxValue:formdata.Sequence" class="easyui-numberbox" data-options="min:0" style="width: 100%;" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4">所属法人</label>
                        <div class="col-md-8">
                            <input type="text" data-bind="comboboxValue:formdata.LegalEntityID,dataSource:dataSources.legalList" style="width: 100%;" class="easyui-combobox" data-options="" />

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">组织单元职位</label>
                        <div class="col-md-10">                            
                            <div class="input-group">
                                <span type="text" data-bind="text:formdata.AllPositionName" class="form-control-static" style="width: 100%;"></span>
                                @*<label class="control-label" data-bind="text:formdata.AllPositionName" style="height: 34px; background-color: #FFFFE6; width: 100%;"></label>*@
                                    @*<span class="input-group-btn">
                                        <button class="btn btn-default" data-bind="click:onCreatePos" type="button">新增职位</button>
                                    </span>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">负责人职位</label>
                        <div class="col-md-10">
                            <span type="text" data-bind="text:formdata.LeadPosName" class="form-control-static" style="width: 100%;"></span>
                            @*<label class="control-label" data-bind="text:formdata.LeadPosName" style="height: 34px; background-color: #FFFFE6; width: 100%;"></label>*@
                        </div>
                    </div>
                </div>
                                    
                    @*<div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label bold col-md-4">账套编码</label>
                            <div class="col-md-8">
                                <input type="text" data-bind="textboxValue:formdata.AccountBookNumber" class="easyui-textbox" style="height: 34px; background-color: #FFFFE6; width: 100%;" placeholder="" />
                            </div>
                        </div>
                    </div>*@
                
                @*<div class="col-md-2">
                    <div class="col-md-12">
                        <input type="checkbox" data-bind="checked:formdata.IsIndependentAccounting"> 独立核算
                    </div>
                </div>*@
                
                
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">组织单元说明</label>
                        <div class="col-md-10">
                            <input type="text" id="legalcode" data-bind="textboxValue:formdata.Description" data-options="validType:'length[0,500]',multiline:true" class="easyui-textbox" style="height: 80px; background-color: #FFFFE6; width: 100%;" placeholder="" />
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script type="text/javascript">

    (function (eleId, context, callback) {
      //debugger;
      $.parser.parse(eleId);

      var ViewModel = function (data) {
      var self = this;
      self.Action = 'new';
          //debugger;
        if(data.form.ResId && data.form.ResId != '' && data.form.ResId != '00000000-0000-0000-0000-000000000000'){
		self.Action = 'edit';
        }

        //data.form.IsBranch = data.form.IsBranch.toString();
	  self.formdata = ko.mapping.fromJS(data.form);

	  self.dataSources = data.dataSources;
      self.ViewTool = new YarClient.ViewModel("@bizId", "@tokenId");
	  var checkUrl = self.ViewTool.GetActionUrl("Post", "CheckNoExist",{id:data.form.ResId});
	  //debugger;
		var valid = String.format("cremote['{0}','name','名称已存在']", checkUrl);
		$("#legalname1").textbox({
		  required: true,
		  validType: ['length[0,100]',valid]
		});
		if(data.form.ParentID || self.Action == 'edit'){
		    $("#orgCode").textbox({disabled:true});
		}
		self.formdata.ParentID.subscribe(function (val) {
		    if(val || self.Action == 'edit'){
		        $("#orgCode").textbox({disabled:true});
		    } else {
		        $("#orgCode").textbox({disabled:false});
		    }
		});
      self.Init = function()
      {
      };
      self.OnSave = function (finishcall) {
          debugger;
          var postdata = {formdata : MainApp.GetDataChange(self.formdata,data.form,true)};
          if(MainApp.FormValidate())
          {
              debugger;
              if(postdata.formdata.OrganizationType == '3|HR_ORG_OrganizationType' ){
                  //$.ajax({
                  //url: self.ViewTool.GetActionUrl("Get", "IsExistLegalTypeUnderCurrentLegal", { LegalEntityID: postdata.formdata.LegalEntityID }),
                  var getMasterRequestUrl = self.ViewTool.GetActionUrl("Post", "IsExistLegalTypeUnderCurrentLegal",{LegalEntityID: postdata.formdata.LegalEntityID
                                                                                                        ,resId:data.form.ResId });
                  YarClient.AjaxPost(getMasterRequestUrl,{}, {
                      success: function (returnData) {
                          debugger;
                          if(returnData!= null && returnData.StatusCode == "Error"){
                              swal("保存失败", "所选法人下已经存在法人类型部门!", "warning");
                              return;
                          }   
                          else
                          {
                              var url = '';
                              if(self.Action == 'new'){
                                  url = self.ViewTool.GetActionUrl("Post", "Create",{resId:data.form.ResId});
                              } else {
                                  url = self.ViewTool.GetActionUrl("Post", "Edit",{resId:data.form.ResId});
                              }
                              YarClient.AjaxPost(url,postdata, {
                                  IsWarning: true,
                                  success : function(returnData) {
                                      finishcall(returnData,callback);
                                  }
                              });
                          }
                      }
                  });
              }else{            
                  var url = '';
                  if(self.Action == 'new'){
                      url = self.ViewTool.GetActionUrl("Post", "Create",{resId:data.form.ResId});
                  } else {
                      url = self.ViewTool.GetActionUrl("Post", "Edit",{resId:data.form.ResId});
                  }
                  YarClient.AjaxPost(url,postdata, {
                      IsWarning: true,
                      success : function(returnData) {
                          finishcall(returnData,callback);
                      }
                  });
              }
          }
          else {

          }
      };

      self.onCreatePos = function(){
          debugger;
          MainApp.ShowPartialView(YarClient.NewGuid(), self.ViewTool.GetBizActionUrl("Biz_HR_ORG_Position","Get", "CreateView"), { ViewModel: self, data: {} },
              function (data) {
              });
      };

	  };
      var data = @this.Raw(Model.Data);
      var viewModel = new ViewModel(data);

      ko.applyBindings(viewModel, $(eleId)[0]);
	  viewModel.Init();
      MainApp.DialogModel(eleId,viewModel.Action == "new"? '组织机构新增' : '组织机构修改',900,370,viewModel.OnSave);

    })(eleId, context, callback);
</script>
