@{
    Yar.Service.BusinessContext context = Model.Context;
    var bizAction = (string)context.Params["BusinessAction"];
}
<form class="form form-horizontal" style="width:400px;">
                        <div class="form-body">	
                            <div class="form-group">
                                <label class="control-label col-md-4 bold"><span class="importantitem">*</span>原密码</label>
                                <div class="col-md-8">
                                    <input id="txtOldPassword" class="easyui-textbox" data-bind="" data-options="required:true" placeholder="" style="width: 100%;" type="password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 bold"><span class="importantitem">*</span>新密码</label>
                                <div class="col-md-8">
                                    <input id="txtNewPassword" class="easyui-textbox" data-bind="" data-options="required:true" placeholder="" style="width: 100%;" type="password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 bold"><span class="importantitem">*</span>确认新密码</label>
                                <div class="col-md-8">
                                    <input id="txtConfirmedPassword" class="easyui-textbox" data-bind="" data-options="required:true" placeholder="" style="width: 100%;" type="password" />
                                </div>
                            </div>
                            

                         </div>
</form>
<script type="text/javascript">

    (function (eleId, context, callback) {
      //debugger;
        $.parser.parse(eleId);
      var ViewModel = function (data) {
		  var self = this;

            self.ViewTool = context.ViewModel;
            self.Init = function() {
                
            };

            self.OnSave = function (finishcall) {
                debugger;
			if(MainApp.FormValidate()){
			    var oldPassword=$('#txtOldPassword').val();
			    var newPassword=$('#txtNewPassword').val();
			    var confirmedPassword=$('#txtConfirmedPassword').val();
			    YarClient.AjaxPost(self.ViewTool.GetActionUrl("Post", "ChangePassword"),
                    YarClient.GetRequestString({ resId:context.resId, OldPassword: $.base64.encode(oldPassword), NewPassword: $.base64.encode(newPassword), ConfirmedPassword: $.base64.encode(confirmedPassword) }), {
			        IsWarning: true,
			        success : function(returnData) {
			            finishcall(returnData,callback);
			        }
			    });
			   
			}
             
		  };
	  };
      var data = @this.Raw(Model.Data);
      var viewModel = new ViewModel(data);
      $.Yar.Dialog.Show(eleId, '改变密码', 400, 140, viewModel.OnSave,null,function (dialogRef) {
          ko.applyBindings(viewModel, $(eleId)[0]);
          viewModel.Init();
      });

    })(eleId, context, callback);
</script>
