@{
    Yar.Service.BusinessContext context = Model.Context;
    var tokenId = (context == null || context.Credential == null) ? "" : context.Credential.TokenId;
    var resid = Model.RawData.form.ResId;
    var bizId = Model.BizId;
}
<div style="padding:5px;    background-color: #fff;">
    <div class="form form-horizontal">
        <div class="form-body">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4">上级法人公司</label>
                        <div class="col-md-8">
                            <input type="text" data-bind="comboboxValue:formdata.ParentID,dataSource:dataSources.dsParent" data-options="" style="width: 100%; height: 34px;" class="easyui-combobox" @(Yar.Enterprise.ServerVersionType.IsFree()? "disabled" : "")/>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4">企业类型</label>
                        <div class="col-md-8">
                            <input type="text" data-bind="comboboxValue:formdata.EnterpriseType,dataSource:dataSources.dsType" style="width: 100%; height: 34px;" class="easyui-combobox" data-options="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4"><span style="color: red;">*</span>公司编码</label>
                        <div class="col-md-8">
                            <input type="text" id="legalcode1" data-bind="textboxValue:formdata.LegalEntityCode" data-options="required:true,validType:'length[0,36]'" style="width: 100%;" class="easyui-textbox" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4"><span style="color: red;">*</span>公司名称</label>
                        <div class="col-md-8">
                            <input type="text" id="legalname1" data-bind="textboxValue:formdata.LegalEntityName"  class="easyui-textbox" placeholder="" style="width: 100%;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4"><span style="color: red;">*</span>有效期开始日期</label>
                        <div class="col-md-8">
                            <input id="txtBizBeginDate" class="form-control easyui-validatebox" data-provide="datepicker" type="text" data-bind="value:formdata.BizBeginDate" data-options="required:true" placeholder="" " />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4"><span style="color: red;">*</span>有效期结束日期</label>
                        <div class="col-md-8">
                            <input id="txtBizEndDate" class="form-control easyui-validatebox" data-provide="datepicker" type="text" data-bind="value:formdata.BizEndDate" data-options="required:true" placeholder="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4">法人代表/负责人</label>
                        <div class="col-md-8">
                            <input type="text" data-bind="textboxValue:formdata.LegalRepresentativeName" data-options="validType:'length[0,36]'" class="easyui-textbox" placeholder="" style="width: 100%;"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4">统一社会信用代码</label>
                        <div class="col-md-8">
                            <input type="text" data-bind="textboxValue:formdata.UnifiedCreditRecord" data-options="validType:'length[0,128]'" class="easyui-textbox" placeholder="" style="width: 100%;"/>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4">所属地区</label>
                        <div class="col-md-8">
                            <input id="txtArea" type="text" data-bind="value:formdata.Area" class="form-control" data-options="validType:'length[0,128]'" data-toggle="city-picker" data-level="city" data-placeholder="请选择省市" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4">邮编</label>
                        <div class="col-md-8">
                            <input type="text" data-bind="textboxValue:formdata.PostNumber" data-options="validType:'length[0,128]'" class="easyui-textbox" placeholder="" style="width: 100%;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">营业场所地址</label>
                        <div class="col-md-10">
                            <input type="text" data-bind="textboxValue:formdata.BusinessAddress" data-options="validType:'length[0,500]'" class="easyui-textbox" placeholder="" style="width: 100%;"/>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">addr</label>
                        <div class="col-md-10">
                            <span data-bind="text:formdata.addr"></span>
                            
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4">电话号码(总机)</label>
                        <div class="col-md-8">
                            <input type="text" data-bind="textboxValue:formdata.TelNumber" data-options="validType:'length[0,36]'" class="easyui-textbox" placeholder="" style="width: 100%;"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4">传真</label>
                        <div class="col-md-8">
                            <input type="text" data-bind="textboxValue:formdata.FaxNumber" data-options="validType:'length[0,36]'" class="easyui-textbox" placeholder="" style="width: 100%;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">网址</label>
                        <div class="col-md-10">
                            <input type="text" data-bind="textboxValue:formdata.Website" data-options="validType:'length[0,500]'" class="easyui-textbox" placeholder="" style="width: 100%;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">经营范围</label>
                        <div class="col-md-10">
                            <input type="text" data-bind="textboxValue:formdata.BizScope" data-options="validType:'length[0,500]',multiline:true" class="easyui-textbox" style="height: 80px; background-color: #FFFFE6; width: 100%;" placeholder="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">备注</label>
                        <div class="col-md-10">
                            <input type="text" data-bind="textboxValue:formdata.Description" data-options="validType:'length[0,500]',multiline:true" class="easyui-textbox" style="height: 80px; background-color: #FFFFE6; width: 100%;" placeholder="" />
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script type="text/javascript">

    (function(eleId, context, callback) {

       

        //debugger;
        $.parser.parse(eleId);

        var ViewModel = function(data) {
            var self = this;
            self.Action = 'new';
            //debugger;
            if (data.form.ResId && data.form.ResId != '' && data.form.ResId != '00000000-0000-0000-0000-000000000000') {
                self.Action = 'edit';
            }
            
            self.formdata = ko.mapping.fromJS(data.form);

            //self.formdata.addr =ko.computed(function() {
            //    return self.formdata.Area().replace('/',' ') + " " + self.formdata.BusinessAddress();
            //}, self);


            self.dataSources = data.dataSources;
            self.ViewTool = new YarClient.ViewModel("@bizId", "@tokenId");

            //验证名称不可重复
            var checkUrl = self.ViewTool.GetActionUrl("Post", "CheckNameExist", { id: data.form.ResId });
            var valid = String.format("cremote['{0}','name','名称已存在']", checkUrl);
            $("#legalname1").textbox({
                required: true,
                validType: ['length[0,100]', valid]
            });

            //验证编码不可重复
            var checkUrl1 = self.ViewTool.GetActionUrl("Post", "CheckCodeExist", { id: data.form.ResId });
            var valid1 = String.format("cremote['{0}','name','编码已存在']", checkUrl1);
            $("#legalcode1").textbox({
                required: true,
                validType: ['length[0,36]', valid1]
            });


            self.Init = function() {
            };
            self.OnSave = function(finishcall) {
                //debugger;
                self.formdata.BizBeginDate($("#txtBizBeginDate").val());
                self.formdata.BizEndDate($("#txtBizEndDate").val());
                var postdata = { formdata: MainApp.GetDataChange(self.formdata, data.form, true) };
                postdata.formdata.Area = $("#txtArea").val();
                if (MainApp.FormValidate()) {
                    var url = '';
                    if (self.Action == 'new') {
                        url = self.ViewTool.GetActionUrl("Post", "Create", { resId: data.form.ResId });
                    } else {
                        url = self.ViewTool.GetActionUrl("Post", "Edit", { resId: data.form.ResId });
                    }
                    YarClient.AjaxPost(url, postdata, {
                        IsWarning: true,
                        success: function(returnData) {
                            finishcall(returnData, callback);
                        }
                    });
                } else {

                }
            };
        };
        var data = @this.Raw(Model.Data);
        var viewModel = new ViewModel(data);

        //viewModel.formdata.Area.subscribe(function (oldValue) {
        //                 console.log("the old value is " + oldValue);
        //             }, null, "beforeChange");
                 
        //viewModel.formdata.Area.subscribe(function (newValue) {
        //        console.log("the new value is " + newValue);
        //    });


        MainApp.DialogModel(eleId, viewModel.Action == "new" ? '法人实体新增' : '法人实体修改', 900, 560, viewModel.OnSave, null, function () {
            ko.applyBindings(viewModel, $(eleId)[0]);
            viewModel.Init();
            $('[data-toggle="city-picker"]').citypicker();

            $("#txtBizBeginDate").on("changeDate", function (sd) {

                var dateS = sd.date;
                $('#txtBizEndDate').datepicker('setStartDate', dateS);
            }).datepicker('setDates');

            $("#txtBizEndDate").on("changeDate", function (ed) {
                var dateE = ed.date;
                $('#txtBizBeginDate').datepicker('setEndDate', dateE);
            }).datepicker('setDates');
        });


        

    })(eleId, context, callback);
</script>
