@{
    Yar.Service.BusinessContext context = Model.Context;
    var tokenId = (context == null || context.Credential == null) ? "" : context.Credential.TokenId;
    var resid = Model.RawData.form.ResId;
    var bizId = Model.BizId;
}
<div id="otherContact" style="padding:5px;    background-color: #fff;">
    <div class="form form-horizontal">
        <div class="form-body">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4">手机</label>
                        <div class="col-md-8">
                            <input type="text" id="legalname1" data-bind="textboxValue:formdata.Cellphone" data-options="validType:'length[0,36]'" class="easyui-textbox" style="height: 34px; background-color: #FFFFE6; width: 100%;" placeholder="" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4">固定电话</label>
                        <div class="col-md-8">
                            <input type="text" id="legalname1" data-bind="textboxValue:formdata.Telephone" data-options="validType:'length[0,36]'" class="easyui-textbox" style="height: 34px; background-color: #FFFFE6; width: 100%;" placeholder="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">电子邮件</label>
                        <div class="col-md-10">
                            <input type="text" id="legalcode" data-bind="textboxValue:formdata.Email" data-options="validType:['length[0,128]','email']" class="easyui-textbox" style="height: 34px; background-color: #FFFFE6; width: 100%;" placeholder="" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">地址</label>
                        <div class="col-md-10">
                            <input type="text" id="legalcode" data-bind="textboxValue:formdata.Address" data-options="validType:'length[0,256]'" class="easyui-textbox" style="height: 34px; background-color: #FFFFE6; width: 100%;" placeholder="" />
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script type="text/javascript">

    (function(eleId, context, callback) {
        //debugger;
        $.parser.parse(eleId);

        if(!String.prototype.trim){ 
            String.prototype.trim = function(){ 
                return this.replace(/^\s+|\s+$/g, ''); 
            } 
        } 

        var ViewModel = function(data) {
            var self = this;
            self.Action = 'new';
            //debugger;
            if (data.form.ResId && data.form.ResId != '' && data.form.ResId != '00000000-0000-0000-0000-000000000000') {
                self.Action = 'edit';
            }
            self.formdata = ko.mapping.fromJS(data.form);

            self.dataSources = data.dataSources;
            self.ViewTool = new YarClient.ViewModel("@bizId", "@tokenId");
            var checkUrl = self.ViewTool.GetActionUrl("Post", "CheckNoExist",{id:data.form.ResId});
            //debugger;
            //var valid = String.format("cremote['{0}','name','名称已存在']", checkUrl);
            //$("#legalname1").textbox({
            //  required: true,
            //  validType: ['length[0,100]',valid]
            //});
            self.Init = function()
            {
            };
            self.OnSave = function (finishcall) {
                //debugger;
                var postdata = {formdata : MainApp.GetDataChange(self.formdata,data.form,true)};
                if(MainApp.FormValidate(otherContact))
                {
                    if (self.formdata.Cellphone().trim()==''  && self.formdata.Telephone().trim()==''  &&
                        self.formdata.Email().trim()==''  && self.formdata.Address().trim()=='') {
                        swal("请至少填写一项", "", "warning");
                    }
                    else{
                        var url = '';
                        if(self.Action == 'new'){
                            url = self.ViewTool.GetActionUrl("Post", "OtherContactCreate",{empId:data.form.empId,legalId: data.form.legalId});
                        } else {
                            url = self.ViewTool.GetActionUrl("Post", "OtherContactEdit",{resId:data.form.ResId});
                        }
                        YarClient.AjaxPost(url,postdata, {
                            IsWarning: true,
                            success : function(returnData) {
                                finishcall(returnData,callback);
                            }
                        });
                    }
                }
                else {

                }
            };
        };
        var data = @this.Raw(Model.Data);
        var viewModel = new ViewModel(data);

        MainApp.DialogModel(eleId, viewModel.Action == "new" ? '新增其他联系方式' : '编辑其他联系方式', 750, 200, viewModel.OnSave, null, function () {
            ko.applyBindings(viewModel, $(eleId)[0]);
            viewModel.Init();
        });

    })(eleId, context, callback);
</script>
