@{
    Yar.Service.BusinessContext context = Model.Context;
    var tokenId = (context == null || context.Credential == null) ? "" : context.Credential.TokenId;
    var resid = Model.RawData.form.ResId;
    var bizId = Model.BizId;
}
<div style="padding:5px;    background-color: #fff;">
    <div class="form form-horizontal">
        <div class="form-body">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4">职级名称</label>
                        <div class="col-md-8">
                            <span type="text" data-bind="text:formdata.JobLevelName" class="form-control-static" style="width: 100%;"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label bold col-md-4">职级数值</label>
                        <div class="col-md-8">
                            <span type="text" data-bind="text:formdata.JobLevelNumber" class="form-control-static" style="width: 100%;" />
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">备注</label>
                        <div class="col-md-10">
                            <span type="text" data-bind="text:formdata.Description" class="form-control-static form-control-static-multi" style="height: 80px; width: 100%;"></span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script type="text/javascript">

    (function (eleId, context, callback) {
      //debugger;
      $.parser.parse(eleId);

      var ViewModel = function (data) {
      var self = this;
      self.Action = 'new';
          //debugger;
        if(data.form.ResId && data.form.ResId != '' && data.form.ResId != '00000000-0000-0000-0000-000000000000'){
		self.Action = 'edit';
	  }
      self.formdata = ko.mapping.fromJS(data.form);
	  self.dataSources = data.dataSources;
      self.ViewTool = new YarClient.ViewModel("@bizId", "@tokenId");
	  var checkUrl = self.ViewTool.GetActionUrl("Post", "CheckNoExist",{id:data.form.ResId});
	  //debugger;
		var valid = String.format("cremote['{0}','name','名称已存在']", checkUrl);
		$("#legalname1").textbox({
		  required: true,
		  validType: ['length[0,100]',valid]
		});
      self.Init = function()
      {
      };
      self.OnSave = function (finishcall) {

        var postdata = {formdata : MainApp.GetDataChange(self.formdata,data.form,true)};
        if(MainApp.FormValidate())
        {
			var url = '';
			if(self.Action == 'new'){
				url = self.ViewTool.GetActionUrl("Post", "Create",{resId:data.form.ResId});
			} else {
				url = self.ViewTool.GetActionUrl("Post", "Edit",{resId:data.form.ResId});
			}
            YarClient.AjaxPost(url,postdata, {
                IsWarning: true,
                success : function(returnData) {
                    finishcall(returnData,callback);
                }
            });
        }
        else {

        }
      };
	  };
      var data = @this.Raw(Model.Data);
      var viewModel = new ViewModel(data);

      MainApp.DialogCustomButton(eleId, '查看职级信息', 750, 190, [{ text: '关闭', cancel: true }], function () {
          ko.applyBindings(viewModel, $(eleId)[0]);
          viewModel.Init();
      });

    })(eleId, context, callback);
</script>
